canvas{
    display: block;
    text-align: center;
    margin: 50px auto;
    box-shadow: 10px 10px 10px gray;
}
.restart{
    text-align: center;
}
.restart>span{
    display: inline-block;
    box-shadow: 3px 2px 2px gray;
    margin: auto;
    color: white;
    text-align: center;
    padding: 15px 20px;
    background-color: forestgreen;
    cursor: pointer;
}
.restart span:hover{
    background-color: mediumseagreen;
}
.title{
    font-size: 60px;
    font-weight: 900;
    color: slateblue;font-family: 'Times New Roman';
    text-align: center;
    text-shadow: 7px 2px 7px  black;
}
body{
    text-align: center;
    background-size: 100%;
    background-image: url(sky.jpg);
}